body{
    background-color: darkblue ;
    color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

h2{
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    color: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 120%;
}

.image{
    width: 555px;
    height: 325px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
	border: 1px solid lightblue;
    object-fit: cover; 
}

.SecondImage{
    width: 555px;
    height: 325px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
	border: 1px solid lightblue;
    object-fit: cover; 
}

.topnav {
    overflow: hidden;
    background-color: blue;
}

  .topnav a {
    float:right;
    color: black;
    text-align: center;
    padding: 60px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 800;
    position: fixed;
  }

  .topnav a:hover {
    color: blue;
    border-top: 100px;
  }