body{
    background-color: gray ;
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 120%;
}

.image{
    width: 555px;
    height: 325px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 1px solid darkblue;
    object-fit: cover; 
}

.SecondImage{
    width: 555px;
    height: 325px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 1px solid grey;
    object-fit: cover; 
}